.chart-page {
  background: #050816;

  min-height: 100vh;

  padding: 20px;
}

.chart-header {
  margin-bottom: 20px;
}

.chart-header h1 {
  color: white;

  font-size: 32px;
}

.chart-container {
  height: 85vh;

  border-radius: 24px;

  overflow: hidden;

  border:
    1px solid rgba(255,255,255,0.08);
}